# Loops and Functions review

In [1]:
import numpy as np
import pandas as pd

Let's try printing a period every 100 iterations:

In [2]:
count = 0
for number in range(0, 500):
    if count%100 == 0:
        count += 1
        print '.',
    else:
        pass

.

What happened?  'Count' is in the wrong loop!  We're only incrementing it whenever it's evenly divisible by 100, which is at 0 and then not again.  This is what we want:

In [3]:
count = 0
for number in range(0, 500):
    if count%100 == 0:
        print '.',
    else:
        pass
    count += 1

. . . . .

Write a loop to find all numbers between 100 and 200 which are divisible by 7 and multiples of 5:

In [4]:
for number in range(100, 201):
    if (number%7 == 0) & (number%5 == 0):
        print number
    else:
        pass

105
140
175

Place a comma after the print statement and see what happens:

In [5]:
for number in range(100, 201):
    if (number%7 == 0) & (number%5 == 0):
        print number,
    else:
        pass

105 140 175

Here is a function "seven_fiver" defined to return the same result, but for any range of integers:

In [6]:
def seven_fiver(low, high):
    for number in range(low, high):
        if (number%7 == 0) & (number%5 == 0):
            print number,
        else:
            pass
    return

We'll try it on the same range as above, here:

In [7]:
seven_fiver(100, 200)

105 140 175

Yep, same result returned!  What happens if we try to save it as a variable?

In [8]:
x = seven_fiver(100, 200)

105 140 175

In [9]:
x

That doesn't work, because seven_fiver doesn't return an object; it only prints results while it's calculating.  Let's try appending to a list within the function and then returning the list, instead of printing as it calculates:

In [10]:
def other_seven_fiver(low, high):
    listy = []
    for number in range(low, high):
        if (number%7 == 0) & (number%5 == 0):
            listy.append(number)
        else:
            pass
    return listy

In [11]:
other_seven_fiver(100, 200)

[105, 140, 175]

Cool, then we have a list instead but it has all the results within in it.  And if we try saving that function return as a variable?  Let's see:

In [12]:
x = other_seven_fiver(100, 200)

In [13]:
x

[105, 140, 175]

Great.

Now, let's run the function on a bunch of ranges (done twice here to demonstrate that it doesn't matter what you call the interation variable):

In [14]:
ranges = [(50, 100), (50, 200), (50, 300)]

for rangelet in ranges:
    x = other_seven_fiver(rangelet[0], rangelet[1])
    print rangelet, x
    
print '\n'
    
for i in ranges:
    x = other_seven_fiver(i[0], i[1])
    print rangelet, x

(50, 100) [70]
(50, 200) [70, 105, 140, 175]
(50, 300) [70, 105, 140, 175, 210, 245, 280]


(50, 300) [70]
(50, 300) [70, 105, 140, 175]
(50, 300) [70, 105, 140, 175, 210, 245, 280]

Let's write a function that will take a range of ranges and print the same result:

In [15]:
def big_seven_fiver(big_range):
    for rangelet in big_range:
        x = other_seven_fiver(rangelet[0], rangelet[1])
        print rangelet, x
    return

In [16]:
big_seven_fiver(ranges)

(50, 100) [70]
(50, 200) [70, 105, 140, 175]
(50, 300) [70, 105, 140, 175, 210, 245, 280]

In [17]:
x = big_seven_fiver(ranges)

(50, 100) [70]
(50, 200) [70, 105, 140, 175]
(50, 300) [70, 105, 140, 175, 210, 245, 280]

In [18]:
x

Let's save each loop result in a list so we can return them all when the function is called:

In [19]:
def other_big_seven_fiver(big_range):
    listy = []
    for rangelet in big_range:
        x = other_seven_fiver(rangelet[0], rangelet[1])
        listy.append(x)
    return

In [20]:
other_big_seven_fiver(ranges)

What happened??  We forgot to return the list... let's try again:

In [21]:
def other_big_seven_fiver2(big_range):
    listy = []
    for rangelet in big_range:
        x = other_seven_fiver(rangelet[0], rangelet[1])
        listy.append(x)
    return listy

In [22]:
other_big_seven_fiver2(ranges)

[[70], [70, 105, 140, 175], [70, 105, 140, 175, 210, 245, 280]]

What happens if we call an argument that we didn't give?

In [23]:
def other_big_seven_fiver3(big_range):
    listy = []
    for rangelet in big_range:
        x = other_seven_fiver(rangelet[0], rangelet[1])
        listy.append(x)
        whatisthis.append(x)
    return listy

In [24]:
other_big_seven_fiver3(ranges)

NameError: global name 'whatisthis' is not defined

Clearly, that doesn't work.  What happens if we don't provide an argument that's requested?

In [25]:
def other_big_seven_fiver4(big_range, whatisthis):
    listy = []
    for rangelet in big_range:
        x = other_seven_fiver(rangelet[0], rangelet[1])
        listy.append(x)
    return listy

In [26]:
other_big_seven_fiver4(ranges)

TypeError: other_big_seven_fiver4() takes exactly 2 arguments (1 given)

Let's initialize a list here, outside of the function, and then call the function using this externally-initialized list as the second function argument.  Notice the return of the function contains more than one item; the two objects will be returned as a tuple:

In [27]:
what = [4]

In [28]:
def other_big_seven_fiver4(big_range, whatisthis):
    listy = []
    for rangelet in big_range:
        x = other_seven_fiver(rangelet[0], rangelet[1])
        listy.append(x)
        whatisthis.append(x)
    return listy, whatisthis

In [29]:
other_big_seven_fiver4(ranges, what)

([[70], [70, 105, 140, 175], [70, 105, 140, 175, 210, 245, 280]],
 [4, [70], [70, 105, 140, 175], [70, 105, 140, 175, 210, 245, 280]])

'whatisthis' is a list brought in from outside the function; it does not get reinitialized within the function itself, so it is changed in place.  If we call the function again and save as x, calling x we get:

In [30]:
x = other_big_seven_fiver4(ranges, what)

x

([[70], [70, 105, 140, 175], [70, 105, 140, 175, 210, 245, 280]],
 [4,
  [70],
  [70, 105, 140, 175],
  [70, 105, 140, 175, 210, 245, 280],
  [70],
  [70, 105, 140, 175],
  [70, 105, 140, 175, 210, 245, 280]])

Since the function returns a tuple, if we assign the correct number of variable names when calling the function, it will save one return element per variable name, in order:

In [31]:
hi, hello = other_big_seven_fiver4(ranges, what)

In [32]:
hi

[[70], [70, 105, 140, 175], [70, 105, 140, 175, 210, 245, 280]]

In [33]:
hello

[4,
 [70],
 [70, 105, 140, 175],
 [70, 105, 140, 175, 210, 245, 280],
 [70],
 [70, 105, 140, 175],
 [70, 105, 140, 175, 210, 245, 280],
 [70],
 [70, 105, 140, 175],
 [70, 105, 140, 175, 210, 245, 280]]

Here is another illustration of this:

In [34]:
def my_numbers(list_o_numbers):
    x = np.std(list_o_numbers)
    y = np.mean(list_o_numbers)
    z = np.median(list_o_numbers)
    return x, y, z

In [35]:
blah = [1,3,10, 30]

my_std, my_mean, my_median = my_numbers(blah)

In [36]:
my_std

11.467344941179714

In [37]:
my_mean

11.0

In [38]:
my_median

6.5

  -------------------------------------------

Now, write a loop to count the number of odd and even numbers in a series, except count multiples of 5 as even regardless of whether they actually are:

In [39]:
a = range(0, 50)

odd = 0
even = 0

for number in a:
    if number%2 == 0:
        even += 1
    elif number%5 == 0:
        even += 1
    else:
        odd += 1
        
print odd
print even

20
30

The following is taken from the [previous review's notebook](https://git.generalassemb.ly/dsi-nyc-4-hoppers-resources/pythonpractice/blob/master/Iris_funtime.ipynb):

In [40]:
import pandas as pd
my_dict = {
    'A' : [1,2,3,4],
    'B' : [5,6,7,8],
    'C' : [9,10,11,12],
    'D' : [13,14,15,16]
}

my_df = pd.DataFrame(my_dict)

my_df

   A  B   C   D
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

Now, increase the value of each entry on the main diagonal by 1:

In [41]:
for i in range(len(my_df)):
    for j in range(len(my_df.columns)):
        if i == j:
            my_df.iloc[i,j] = my_df.iloc[i,j] + 1
            
my_df

   A  B   C   D
0  2  5   9  13
1  2  7  10  14
2  3  7  12  15
3  4  8  12  17

Now, do the same thing and, at the same time, make a list of every other new element on the main diagonal:

In [42]:
count = 0
lil_list = []
for i in range(len(my_df)):
    for j in range(len(my_df.columns)):
        if i == j:
            my_df.iloc[i,j] = my_df.iloc[i,j] + 1
            if count%2 == 0:
                lil_list.append(my_df.iloc[i,j])
            else:
                pass
            count += 1
            
my_df

   A  B   C   D
0  3  5   9  13
1  2  8  10  14
2  3  7  13  15
3  4  8  12  18

In [43]:
lil_list

[3, 13]

  -------------------------------------------

Now, write a loop to print every other letter from your full name, but only up until the fourth letter:

In [44]:
name = 'Grace Hopper'

count = 0

for letter in name:
    if count%2 == 0:
        print letter,
    count += 1
    if count > 4:
        break

G a e

Now, write a function that takes the full name as a string and returns every other letter in a list, as well as the original name:

In [45]:
def eol(bullfrog):
    count = 0
    lil_letters = []
    for letter in bullfrog:
        if count%2 == 0:
            lil_letters.append(letter)
        count += 1
    return lil_letters, bullfrog

In [46]:
eol('Grace Hopper')

(['G', 'a', 'e', 'H', 'p', 'e'], 'Grace Hopper')

In [47]:
lil_name = 'Grace Hopper'

eol(lil_name)

(['G', 'a', 'e', 'H', 'p', 'e'], 'Grace Hopper')

Write it as a function which takes two arguments, representing first name and last name:

In [48]:
def eol2(first, last):
    whole_name = first + ' ' + last
    count = 0
    lil_letters = []
    for letter in whole_name:
        if count%2 == 0:
            lil_letters.append(letter)
        count += 1
    return lil_letters

In [49]:
eol2('Grace', 'Hopper')

['G', 'a', 'e', 'H', 'p', 'e']