# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Pandas & Pivot Tables

Week 2 | Day 3

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Use pandas.pivot_table
- Use the parameters: values, columns, index, aggfunc, and margins

## How many of you have used an Excel pivot table?

![](http://cdn.get-digital-help.com/wp-content/uploads/2012/03/pivot-table-basics-final2.gif)

## Pivot tables allow for the manipulation and transformation of data through aggregation

## Let's see an example

In [10]:
# first we import pandas
import pandas as pd

# next, we load the csv and save to a DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')

# we view the first 5 rows
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### What are some questions we might ask of this data?

## Questions we might ask

1. What is the average tip of a smoker vs. a non-smoker?
2. Male vs. female?
3. What is the average tip by the day of the week?
4. How many male smokers vs. female in this set?

## Pivot tables allow us to answer all of these and more!

## Question 1: What is the average tip by smoking status?

In [12]:
pd.pivot_table(df, index='smoker', values='tip')

smoker
No     2.991854
Yes    3.008710
Name: tip, dtype: float64

We can see that we passed our DataFrame, an 'index', and a 'values' parameter. This automatically gave us the mean tip by unique smoking class.

## Question 2: What is the average tip by sex?

In [13]:
pd.pivot_table(df, index='sex', values='tip')

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

We simply changed the index.

## What if we want to see the average size of the party as well?

In [18]:
pd.pivot_table(df, index='sex', values=['tip', 'size'])

            size       tip
sex
Female  2.459770  2.833448
Male    2.630573  3.089618

We just pass in the list of the features we want to see the mean of.

## Can we see the breakdown by sex and smoking status?

In [19]:
pd.pivot_table(df, index=['sex', 'smoker'], values=['tip', 'size'])

                   size       tip
sex    smoker
Female No      2.592593  2.773519
       Yes     2.242424  2.931515
Male   No      2.711340  3.113402
       Yes     2.500000  3.051167

Why, yes. Yes, we can.

## What about by day of the week?

In [21]:
pd.pivot_table(df, index='day')

          size       tip  total_bill
day
Fri   2.105263  2.734737   17.151579
Sat   2.517241  2.993103   20.441379
Sun   2.842105  3.255132   21.410000
Thur  2.451613  2.771452   17.682742

Notice I left off the 'values' column. If we omit it, we get the mean of everything numeric.

## Exercise:

Using the smoker tip data and pd.pivot_table(), answer the following questions:
- What is the average total bill for dinner vs. lunch over all days?
- What day of the week has the highest average lunch price?
- Who has a higher average tip at lunch: female smokers or male smokers? What about dinner?

## What if I'm not interested in the average?

## Why do we even get the average?

![](http://i.imgur.com/YsEx6y4.png)

What is this 'aggfunc'?

## Let's change from the mean to something else

In [39]:
pd.pivot_table(df, index=['sex'], aggfunc='max')

         day  size smoker   time   tip  total_bill
sex
Female  Thur     6    Yes  Lunch   6.5       44.30
Male    Thur     6    Yes  Lunch  10.0       50.81

In [38]:
pd.pivot_table(df, index=['sex'], aggfunc='min')

        day  size smoker    time  tip  total_bill
sex
Female  Fri     1     No  Dinner  1.0        3.07
Male    Fri     1     No  Dinner  1.0        7.25

## Let's bring in numpy

In [86]:
import numpy as np

pd.pivot_table(df, index=['sex'], aggfunc=np.std)

            size       tip  total_bill
sex
Female  0.937644  1.159495    8.009209
Male    0.955997  1.489102    9.246469

## Let's make it a list

In [91]:
pd.pivot_table(df, index=['sex'], aggfunc=[np.mean, np.std, np.var, len])

            mean                            std                       \
            size       tip total_bill      size       tip total_bill
sex
Female  2.459770  2.833448  18.056897  0.937644  1.159495   8.009209
Male    2.630573  3.089618  20.744076  0.955997  1.489102   9.246469

             var                       len
            size       tip total_bill  day size smoker time    tip total_bill
sex
Female  0.879177  1.344428  64.147429   87   87     87   87   87.0       87.0
Male    0.913931  2.217424  85.497185  157  157    157  157  157.0      157.0

Notice that we use 'len' in place of count to ge the number

## Exercise

- Which day of the week has the highest total bill variance?
- Which day of the week had the largest party size? Smallest? How many total people each day?
- What is the mean, variance, and count of total bills by day of week and smoking status?

## Now let's pivot that last one by moving smoker status to the column

In [132]:
pd.pivot_table(df, index=['day'], columns=['smoker'], values=['total_bill'], aggfunc=[np.mean, len])

             mean                   len
       total_bill            total_bill
smoker         No        Yes         No   Yes
day
Fri     18.420000  16.813333        4.0  15.0
Sat     19.661778  21.276667       45.0  42.0
Sun     20.506667  24.120000       57.0  19.0
Thur    17.113111  19.190588       45.0  17.0

## What about subtotals?

In [131]:
pd.pivot_table(df,\
               index=['day'], columns=['smoker'],\
               values=['total_bill'],\
               aggfunc=[np.mean, len],\
               margins=True)

             mean                              len
       total_bill                       total_bill
smoker         No        Yes        All         No   Yes    All
day
Fri     18.420000  16.813333  17.151579        4.0  15.0   19.0
Sat     19.661778  21.276667  20.441379       45.0  42.0   87.0
Sun     20.506667  24.120000  21.410000       57.0  19.0   76.0
Thur    17.113111  19.190588  17.682742       45.0  17.0   62.0
All     19.188278  20.756344  19.785943      151.0  93.0  244.0

We now have subtotals for each piece both to the right and on the bottom

## Independent Exercise

Using the data below:
1. Create a DataFrame

2. Creat a pivot table that reports the mean, standard deviation, min, and
   max of the preTestScore for each company (1st and 2nd)

3. Create another that reports the same details for the postTestScore score

4. Create a pivot table that has the information from both of the above tables

5. Take it a step further and add the information for each regiment to the table

In [133]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

## Conclusion

In this lecture, we learned:
- How to use pd.pivot_table() to transform and manipulate our data
- We learned how to use each of the following parameters:
    - values
    - columns
    - index
    - aggfunc
    - margins