In [9]:
import numpy as np
import pandas as pd
from scipy import stats

In [55]:
sat = pd.read_csv("./assets/sat_scores.csv")

In [56]:
sat.tail()

   State  Rate  Verbal  Math
47    IA     5     593   603
48    SD     4     577   582
49    ND     4     592   599
50    MS     4     566   551
51   All    45     506   514

In [58]:
sat.drop(51, inplace=True)

In [59]:
#tri-state verbal scores compared to all verbal scores
tri_state =['NY', 'NJ', 'CT' ]
tri_state_df = sat[sat['State'].isin(tri_state)]

In [60]:
tri_state_math = list(tri_state_df.loc[:,'Math'])
tri_state_math

[510, 513, 505]

In [61]:
population_math_mean = sat.loc[:,'Math'].mean()
sample = stats.ttest_1samp(tri_state_math, population_math_mean)
print sample

Ttest_1sampResult(statistic=-9.6470588235294326, pvalue=0.0105749509737089)

In [62]:
from random import randint

In [63]:
m = 0
n = 100000
for i in range(n):
    trials = np.random.randint(1,7, size = 100)
    if len([i for i in trials if i == 6])>100.0/3:
        m += 1
p = m / float(n)
p

0.0

In [64]:
from random import shuffle

In [66]:
import numpy as np
list_v = sat['Verbal'].tolist()
list_m = sat['Math'].tolist()
print np.mean(list_v) - np.mean(list_m)
list_nums = list_v + list_m




m = 0 
for i in range(10000):
    shuffle(list_nums)
    difference = sum(list_nums[:51])/len(list_nums[:51]) - sum(list_nums[51:])/len(list_nums[51:])
    if (difference >= 0.686):
        m+=1
p = m / 10000.0
print p

0.686274509804
0.4795